# build output
dist/

# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/

# local development files
*.log
*.tmp
*.temp
*.swp
*.swo

# local environment files
.env.local
.env.*.local

# pnpm local cache
.pnpm-store/
.pnpm-debug.log*
*.csv
*.odt
/*.pdf
/*.docx
/*.xlsx
/*.pptx 
*.txt
*.pyc